* {
	box-sizing: border-box;
	padding: 0;
}
body {
	background-color: rgb(244, 244, 244);
}
#mainContent {
	width: 60%;
	margin: 0 auto;
	box-shadow: 0px 1px 4px gray;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: white;
} 
div header {
	background-color: #b3e6ff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
div header div {
	display: flex;
	padding: 30px 0;
	width: 80%;
	margin: 0 auto;
	color: white;
}
div header div div {
	flex-direction: column;
	padding: 0;
	margin: 0 0 0 28px;
}
.myName {
	margin: 0 0 30px 0;
	font-size: 30px;
}
div header div div #unique {
	margin: 0;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 19px;
}
div img {
	width: 150px;
	height: 150px;
        /*transform: rotate(90deg);*/
	border: 2px solid white;
	border-radius: 8px;
}
section {
	width: 80%;
	margin: 0 auto;
}
section div {
	padding-left: 40px;
	border-left: 10px solid lightgray;
	margin-bottom: 30px;
	letter-spacing: 1px;
	line-height: 19px;
	color: #8c8c8c;
}
section h2 {
	font-weight: 700;
	letter-spacing: 1px;
	color: #0077b3;
}
section h3 {
	color: #004466;
}
section ul {
	letter-spacing: 1px;
	line-height: 19px;
	padding-left: 20px;
	list-style-type: square;
	color: #8c8c8c;
}
@media screen and (max-width: 1200px){
	#mainContent {
		width: 85%;
	}
	div header div {
		flex-direction: column;
		text-align: center;
	}
	div header span {
		text-align: center;
		margin-bottom: 10px;
	}
	div header div div {
		margin: 0 auto;
		display: flex;
	}
	/*header span img {
		transform: rotate(90deg);
	}*/
}
